<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Clock_Widget.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <userSettings>
    <Clock_Widget.Properties.Settings>
      <setting name="ShouldUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Placement" serializeAs="Xml">
        <value />
      </setting>
      <setting name="Topmost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowInTaskbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>40</value>
      </setting>
    </Clock_Widget.Properties.Settings>
  </userSettings>
</configuration>